@font-face{
	src: "styles/bootstrap/fonts/CooperBlackStd.otf";
	font-family: cooper;
}
.body-div{
	height:700px;
}
.border-right{
	border-right: 4px dashed black;
	margin: 10px 0px;
}
.btn-margin{
	margin: 10px 10px;
}
.carousel{
	padding: 100px;
}
.container2{
	min-height: 750px;
	padding-top: 5%;
}
.error{
	display: none;
}
.logo{
	height: 30px;
	margin:0px 30px 0px 50px; 
	width: 100px;
}
.msg{
	font-family: monospace;;
	margin: 75px;
}
.msg-container{
	padding: 3% 3%;
}
.msg-box{
	border-top:3px solid black;
	background-color:cornflowerblue;
	font-family: monospace;
	height:475px;
	overflow-y:scroll;
	padding:10px;

}
.nav-fixed{
	position: fixed !important; 
	background-color: black;
	opacity: 0.8;
	padding: 10px 0;
	z-index:70;
}
.nav-fixed li a{
	color: #fff;
	font-family:monospace;
	font-size: 16px;
}
.navbar-form{
	padding: 0px 5px;
}
.picture-inner{
	border: 2px solid red;
	margin: 10px auto;
	padding: 2px;
	width: 125px;
	height: 175px;
}
.success{
	display: none;
	background-color: #3e8f3e;
}
.nav-bar2{
	color: #fff;
	float: left;
	padding-top: 20px;
}
.nav-bar2 li{
	display: inline;
	font-size: 30px;
	padding: 70px;
}
.project{
	color: black;
}
.project li{
	font-size: 30px;
	padding-top: 30px;
}
.header-name{
	color:#fff;
}
.button-send{
	border-radius: 10px;
	margin-top: 15px;
	height: 2em;
	width: 4em;
	font-size: 30px;
	margin-right: 10px;
}
.button-upload{
	border-radius: 10px;
	margin-top: 28px;
	height:2em;
	width:4em;
	font-size: 30px;
	margin-left: 80px;
}
.header-gallery{
	color:#fff;
	padding-top:10px;
}
.button-upload1{
	height: 4em;
	width: 6em;
	margin-top: 0;
	font-size: 20px;
	border-radius: 10px
}
