@font-face{
	src: "styles/bootstrap/fonts/CooperBlackStd.otf";
	font-family: cooper;
}
.body-div{
	height:700px;
}
.carousel{
	padding: 100px;
}
.error{
	display: none;
}
.logo{
	height: 30px;
	margin:0px 30px 0px 50px; 
	width: 100px;
}
.msg{
	font-family: monospace;;
	margin: 75px;
}
.msg-container{
	padding: 3% 3%;
}
.nav-fixed{
	position: fixed !important; 
	background-color: black;
	opacity: 0.8;
	padding: 10px 0;
	z-index:70;
}
.nav-fixed li a{
	color: #fff;
	font-family:monospace;
	font-size: 16px;
}
.navbar-form{
	padding: 0px 5px;
}
.picture-inner{
	border: 2px solid red;
	margin: 10px auto;
	padding: 2px;
	width: 125px;
	height: 175px;
}
.success{
	display: none;
	background-color: #3e8f3e;
}