@font-face{
	src: "styles/bootstrap/fonts/CooperBlackStd.otf";
	font-family: cooper;
}
.nav-fixed{
	position: fixed !important; 
	background-color: black;
	opacity: 0.8;
	padding: 10px 0;
	z-index:70;
}
.nav-fixed li a{
	color: #fff;
	font-family:monospace;
	font-size: 16px;
}
.logo{
	height: 30px;
	margin:0px 30px 0px 50px; 
	width: 100px;
}
.navbar-form{
	padding: 0px 5px;
}
.body-div{
	height:700px;
}
.carousel{
	padding: 100px;
}